{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "airbnb-typescript",
    "plugin:i18next/recommended",
    "prettier"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "consistent-return": "off",
    "no-param-reassign": "off",
    "i18next/no-literal-string": [
      "warn",
      {
        "markupOnly": true,
        "ignore": ["Pixous", "en"],
        "ignoreCallee": ["import.meta.glob", "import.meta.globEager", "register"],
        "onlyAttribute": ["title"]
      }
    ]
  },
  "overrides": [
    {
      "files": ["./src/lang/*"],
      "rules": {
        "i18next/no-literal-string": "off"
      }
    }
  ]
}
